<h1> Sign in Mr. User </h1>
<form  action='<%= edit_user_url %>' method="post">
<input type="text" name="user[user_name]" value="">
  <label>Username:</label>
  <br>
<input type="text" name="user[password]" value="">
  <label>Password:</label>
  <br>
<input type="submit" value="Log in">
</form>